<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Toolodex</title>
</head>
<body>
    <div class="display-area">
        <section class='header'>
            <div class="header-container">
                <h1>Toolodex</h1>
                <p class='tagline'>Find the right tool for the job.</p>
                <form action="/demo" method="POST">
                    <input type="submit" value="GUEST DEMO" class='submit-button' />
                </form>
            </div>
        </section>
        <section class='corkboard'>
            <div class='login-reg-forms'>
                <div class="form-container">
                        <form action="/register" method="POST" class='form'>
                            <h3>New to Toolodex?</h3> 
                            <p>Register here:</p>
                            <p>
                                Username: <input type="text" name="username" required />
                            </p>
                            <p>
                                Email: <input type="email" name="email" required />
                            </p>
                            <p>
                                Location: <select name="location">
                                    <% for(eachState of statesArray) { %> 
                                        <option value="<%=eachState%>"
                                        <% if(eachState === "NY"){ %>selected<% } %>>
                                            <%=eachState%>
                                        </option>
                                        <% } %> 
                                </select>
                            </p>
                            <p>
                                Password: <input type="password" name="password" required />
                            </p>
                            <p>
                                <input type="submit" value="REGISTER" class='submit-button' />
                            </p>
                        </form>
                </div>
    
                <div class="form-container">
                    <form action="/login" method="POST" class='form'>
                        <h3>Returning?</h3> 
                        <p>Login here:</p>
                        <p>
                            Username: <input type="text" name="username" required />
                        </p>
                        <p>
                            Password: <input type="password" name="password"  required />
                        </p>
                        <p>
                            <input type="submit" value="LOGIN" class='submit-button' />
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
