<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Login</h2>
    <form action="/login" method="POST">
        Username: <input type="text" name="username" required /><br>
        Password: <input type="password" name="password" required />
        <input type="submit" value="Login">
    </form>
    <%- include('../partials/testfooter.ejs') %>
</body>
</html>