<section class='header'>
    <h1>Toolodex</h1>
    <nav>
        <a href='/'>Home</a> |
        <a href='/categories/new'>Add a Category</a> |
        <a href='/tools/newTool'>Add a Tool</a> |
        <a href='/tools'>Tools Index</a> | 
        <form action="/logout?_method=DELETE" method="post" value=''>
            <input type="submit" value="Logout" id='logout'>
        </form>

        <!-- <div>
            <input type="text" method="put" id="search" placeholder="Search..." value="">
            <input type='submit' value="Submit" onclick="/search" />
        </div> -->

        <form action="/search" method="GET">
            <input type="text" id='search' value='' placeholder="Search...">
            <input type="submit" value="Submit">
        </form>
    </nav>
</section>