<section class='header'>
    <h1>Toolodex</h1>
    <nav>
        <a href='/'>Home</a> |
        <a href='/categories/new'>Add a Category</a> |
        <a href='/tools/newTool'>Add a Tool</a> |
        <a href='/tools'>Tools Index</a> | 
        <form action="/logout?_method=DELETE" method="post" value=''>
            <input type="submit" value="Logout" id='logout'>
        </form>
        <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search...">
            <input type="submit" value="Submit">
        </form>
    </nav>
</section>