<br>
<br>
<br>
<br>
<br>
<div class="test-footer">
    <a href="/testing">View Test Index</a><br>
    <br><br>
    <a href="/users">Index of Users</a><br>
    <a href="/login">New User</a><br>
    <a href="/categories">Categories</a><br>
    <br><br>
    <a href="/tools">Index of Tools</a><br>
    <a href="/tools/newTool">New Tool</a><br>
</div>
