<br>
<br>
<br>
<br>
<br>
<div class="test-footer">
    <a href="/testing">View Test Index</a><br>
    <br><br>
    <a href="/users">Index of Users</a><br>
    <a href="/users/newUser">New User</a><br>
    <a href="/">Categories</a><br>
    <br><br>
    <br><br>
    <a href="/tools">Index of Tools</a><br>
    <a href="/tools/newTool">New Tool</a><br>
    <a href="/tools/5f65807a7c7f69dffc9207af">Show Tool 1</a><br>
    <a href="/tools/5f65807a7c7f69dffc9207af/edit">Edit Tool 1</a><br>
</div>
