<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Index</title>
</head>
<body>
    <h1>Tools Index page</h1>
    <ul>
        <% allTools.forEach(tool => { %> 
            <li>
                <a href="/tools/<%=tool._id%>">
                    <%= tool.name %>                 
                </a>
            </li>
        <% }) %> 
    </ul>
    <%- include('../partials/testfooter.ejs'); %>
</body>
</html>
