<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <link rel="stylesheet" href="/styles/main.css" />
    <%- include('partials/external-imports.ejs') %>
    <title>Toolodex</title>
</head>
<body>
    <div class='display-area'>
        <section class='header'>
            <nav>
                <%- include('partials/header-navbar.ejs') %>
                <% if(user) { %>
                    <form action="/logout?_method=DELETE" method="post" value=''>
                        <input type="submit" value="Logout" id='logout'>
                    </form>
                <%} else { %>
                    <a href='/login'>Login</a>
                <% } %> 
            </nav>
        </section>
        <section class='corkboard'>
            <h2>Your Categories</h2>
            <div class='post-its'>
                <% categories.forEach(category => { %>
                    <a href="/categories/<%= category._id %>" class='category-name'>
                        <div class="category tile">
                            <%= category.name %>
                        </div>
                    </a>
                <% }); %>
                <a href="/categories/new">
                    <div class="add-category tile">
                        <i class="fas fa-plus"></i>
                    </div>
                </a>
            </div>
        </section>
    </div>

</body>
</html>
