<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <%- include('partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Toolodex</title>
</head>
<body>
    <%- include('partials/header-navbar.ejs') %>
    <h2>Your Categories</h2>
    <% categories.forEach(category => { %>
        <div class="category tile">
            <a href="/categories/<%= category._id %>"><%= category.name %></a>
        </div>
    <% }) %>
    <div class="add-category tile">
        <a href="/categories/new">+</a>
    </div>
</body>
</html>