<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Toolodex</title>
</head>
<body>
    <h1>Toolodex</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/categories/new">Add a Category</a> |
        <a href="/tools/new">Add a Tool</a> |
        <a href="/tools">Tools Index</a> |
        <a href="/users/login">Login</a>
    </nav>
    <h2>Your Categories</h2>
</body>
</html>