<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Toolodex</title>
</head>
<body>
    <%- include('partials/header-navbar.ejs') %>
    <h2>Your Categories</h2>
    <% categories.forEach(category => { %>
        <div class="category">
            <a href="/categories/<%= category._id %>"><%= category.name %></a>
        </div>
    <% }) %>
</body>
</html>