<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Add a Category</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Add a Category</h2>
    <form action='/categories' method='POST'>
        <p>Name: <input type='text' name='name' placeholder='Category Name' required /></p>
        <p>Description: <textarea type= 'text' name='description' placeholder='Add a description...'></textarea></p>
        <input type='submit' value='Submit' />
    </form>
</body>
</html>