<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Map</title>
</head>
<body>
    <div class="display-area">
        <%- include('../partials/header-navbar.ejs') %>
        <section class="corkboard map-holder">
            <div class="map"></div>
            <h1 class="friend">HOOAH</h1>

            <i class="fas fa-map-marker-alt">Howdy</i>

            <% for(eachFriend of allFriends){ %> 
                    <a href="/users/<%=eachFriend._id%>"><i class="fas fa-map-marker-alt"
                        
                        >Howdy</i>
                        <%=eachFriend.username%></a>
            <% } %> 
    




        </section>
    </div>
</body>
</html>
