* {
    box-sizing: border-box;
    /* this is useful so borders & padding don't change the size of elements */
}

:root {
    /* colors */
    --post-it: lightyellow;
    --background: whitesmoke;
    --navbar: burlywood;
    /* sizes */
    --scale-size: 1;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.display-area {
    margin: 0 auto;
    width: calc( var(--scale-size) * 960px);
    /* width: 960px; */
}

.header {
    background-image: url('../images/files-header-background1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    position: relative;
}

.header-container {
    left: 50%;
    background-color:rgba(255, 255, 255, 0.7);
    color: black;
    width: 70%;
}

h1 {
    padding-top: 10px;
}

nav {
    color: white;
}

.logout {
    display: inline;
}

#search {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-link {
    font-family: 'Courier Prime', monospace;
}

.corkboard {
    background-image: url('../images/corkboard.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* i commented out "fixed" so the corkboard doesn't move behind the post-its when you resize the screen */
    background-size: cover;
    color: blue;
    min-height: calc( var(--scale-size) * 960px);
    font-family: 'Courier Prime', monospace;
}

.post-its {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tile {
    background-color: var(--post-it);
    margin: calc( var(--scale-size) * 10px);
    width: calc( var(--scale-size) * 150px);
    height: calc( var(--scale-size) * 150px);
    box-shadow: 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

i {
    font-size: 36px;
    height: 20px;
    width: 20px;
    z-index: 2;
}

/* 
.tool-link {
    transition: 0.3s linear;
} */
